
.items img {
    margin-top: 5px;
}

.button {
    display: grid;
    justify-content: center;
}

.userInfo {
    display: grid;
    justify-content: center;
    width: 130px;
}


.Page {
/*    display: flex;*/
}
