.header {
    grid-area: h;
    background-color: #7aabc0;
    margin-left: 10px;
    box-shadow: 0px 1px 10px 3px;
}
.header img {
    width: 70px;
    height: 70px;
    position: absolute;
    top: -7px;
}