.descriptionBlock {
    padding: 20px;
}

.wrapper {
    grid-area: profileinfo;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    height: 500px;
    display: grid;
}

.description {
    border: 1px solid black;
    height: 400px;
    grid-column: 1/4;
    grid-row: 1/2;
    background-color: #7aabc0;
    box-shadow: 0px 1px 10px 3px;
}


.ava {
    background-color: #7aabc0;
    margin-right: 10%;
    border: 1px solid black;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    box-shadow: 0px 1px 10px 3px;
}

.img {
    display: flex;
    justify-content: center;
    height: 100%;
}

.info {
    margin-left: 10px;
    font-size: 15px;
    font-family: serif;

}

.toggle {
    display: flex;
    flex-direction: column;
}

.contacts {
    padding-left: 20px;
}